//apiVersion: apps/v1
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: "${APP_NAME}"
  labels:
    app: ${APP_NAME}
  namespace: $NAMESPACE_NAME
spec:
  replicas: ${REP_NUM}
  selector:
    matchLabels:
      app: ${APP_NAME}
      version: v1
  template:
    metadata:
      labels:
        app: ${APP_NAME}
        version: v1
    spec:
      imagePullSecrets:
        - name: ${SECRET_NAME}
      containers:
        - name: ${APP_NAME}
          image: ${IMAGE_URL}
          imagePullPolicy: IfNotPresent   #Always
          resources:
            limits:
              cpu: 100m
              memory: 256Mi
            requests:
              cpu: 100m
              memory: 250Mi
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          ports:
            - containerPort: 80
              protocol: TCP
          volumeMounts:
            - mountPath: /etc/localtime
              name: volume-localtime
      terminationGracePeriodSeconds: 30
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      volumes:
        - hostPath:
            path: /etc/localtime
            type: ''
          name: volume-localtime
